*{
	margin:0px;
	padding: 0px;
}
.wrapper{
	width: 1349px;
	min-height: 1500px;
	margin:auto auto;
	float: left;
	/*background-color: #000000;*/
}
.row{
	width: 100%;
	float: left;
}
.col1{
	width: 100%;
}
.col2{	
	width: 75%;
	float: right;
}
.col3{
	width: 50%;
	float: right;
}
.col4{
	width: 25%;
	float: right;
}
.col5{
	width: 25%;
	float: right;
}
.logo{
	width: 15%;
	position: fixed;
	padding-left: 10px;
}
.menu{
	width: 100%;
	position: fixed;
	min-height:45px;
	background-color: #ef9292;
	float: right;
	margin-right: 70px;
	padding-top: 10px;
}
.menu ul{
	list-style-type: none;

}


.menu ul li{
	display: inline;
}
.menu .col5 ul li a{
	text-decoration: none;
	font-size: 23px;
	padding: 10px 15px 20px 20px;
	color: #800080;
}
.menu .col5 a:hover {
	background-color: #f9f9d1;
	padding: 10px 22px 20px 20px;
}

.dropdown {
    display: inline-block;
}


.dropdown-c {
    display: none;
    position: absolute;
    margin-top: 19px;
    background-color: #ef9292;
    min-width: 150px;
    box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-c a {
    color: #800080;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-c a:hover {background-color:#f9f9d1;}

.dropdown:hover .dropdown-c {display: block;}



.box{
	width: 25%;
	float: right;
	padding-right: -100px;
	margin-top: -8px;
}

.opo{
	width: 50%;
	float: right;
	padding-right: 120px;
	padding-top: 30px;
}

.col2 p{
	float: right;
	padding-right: 30px;
	margin-top: -20px;
	padding-bottom: 30px;
}

.b-line{
	width: 65%;
	float: right;
	position: absolute;
	margin-top: -188px;
	padding-left: 255px;
	/*margin-left: 245px*/
}
.box2{
	float: left;
	width: 25%;
	margin-left: -20px;
	margin-top: -10px;
}
.p{
	margin-top: 30px;
	margin-right: 330px;
}
.col2 h1{
	margin-top: 150px;
}
.p a{
	text-decoration: none;
	color: #000000;
}
.line1{
	width: 50%;
	float: right;
	padding-left: 800px;
}
.col3 img{
	float: right;
}
.title{
	float: left;
	padding-left: 120px;
	margin-top: -360px;
}
.summary{
	float: left;
	margin-top: 20px;
	padding-left: 100px;
	width: 50%;
}


#more {display: none;}

.footer{
	width: 59.16%;
	margin-top:90px;
	padding-left:551px;
	background-color: #ef9292;
	min-height: 35px;
}
.footer p{
	 padding-top: 4px;
	 font-weight: bold;
}

.b-l{
	margin-top: 230px;
	position: absolute;
	padding-left: 380px;
}
#myBtn {
  background-color: #ef9292;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  margin-top: 10px;
  margin-left: 30px;
}

#myBtn:hover {opacity: 1}
#myBtn a{
    text-decoration: none;
    color: black;

}

